.submit {
  background-color: #ed1f34;
  border: none;
  border-radius: 5px;
  width: 280px;
  height: 44px;
  color: white;
  margin-bottom: 10px;
  font-family: Azo-Sans-Bold;
  font-size: 16px;
  text-transform: uppercase;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .submit {
    width: 149px;
    height: 50px;
    font-size: 20px;
  }
}
